module.exports = {
    // Za dobijanje svojih parametara,
    // otici na https://github.com/settings/developers
    // i registrovati novu OAuth aplikaciju,
    // a zatim zameniti niske "XXXX" ovde sa dobijenim parametrima OAuth aplikacije
    clientId: "XXXX",
    clientSecret: "XXXX"
};